# virtualenv
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

#
.mypy_cache/
.idea/
.coverage
.coverage.*
.cache
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Sphinx documentation
docs/_build/
